# Ignore everything
HDMI_Transmitter/HDMI_Transmitter.hw
HDMI_Transmitter/HDMI_Transmitter.cache
HDMI_Transmitter/HDMI_Transmitter.ip_user_files
HDMI_Transmitter/HDMI_Transmitter.runs
HDMI_Transmitter/HDMI_Transmitter.sim
HDMI_Transmitter/HDMI_Transmitter.srcs/utils_1
HDMI_Transmitter/HDMI_Transmitter.xpr